<div id="content">

   <!-- Photocard Block -->
   <section id="photocard" class="e-bg-light photocard-block pt-section" data-name="Learn More">
      <div>
         <div class="photocard-wrap animated fadeIn clearfix animation-action">
            <div class="photocard-image-wrap  column-half column-float-right">
               <div class="photocard-image-container"
                    style="background-image:url(<%= image_path 'index-red-flash.png' %>); background-color: #e74c3c;"></div>
            </div>
            <div class="photocard-content-wrap dark column-float-left column-half" data-stellar-background-ratio="0.5">
               <div class="photocard-contents-inner text-align-center wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset="10">
                  <div class="heading-block">
                     <h2 class="photocard-title font-accident-two-bold-italic ">
                        Concert Recommendations
                     </h2>
                     <h3 class="photocard-subtitle font-regular-light">
                        Based on your listening history
                     </h3>
                  </div>
                  <div class="photocard-contents small">
                     Login with Spotify and we'll take care of the rest, using your music to determine which shows you're most likely to enjoy.
                  </div>
                  <div class="dividewhite3"></div>
                  <%= link_to 'Login With Spotify', '/auth/spotify', class: "btn btn-default btn-gr" %>
               </div>
            </div>
         </div>
      </div>

      <div class="clearfix">
         <div class="photocard-wrap animated fadeIn clearfix animation-action">
            <div class="photocard-image-wrap  column-half column-float-left">
               <div class="photocard-image-container"
                    style="background-image:url(<%= image_path 'iphone-bg.png' %>); background-color: #8e44ad;"></div>
            </div>
            <div class="photocard-content-wrap dark column-float-right column-half" data-stellar-background-ratio="0.5">
               <div class="photocard-contents-inner text-align-center wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
                  <div class="heading-block">
                     <h2 class="photocard-title font-accident-two-bold-italic ">
                        Delivered Right To Your Inbox
                     </h2>
                     <h3 class="photocard-subtitle font-regular-light">
                        Much Easy
                     </h3>
                  </div>
                  <div class="photocard-contents small">
                     OMG so easy
                  </div>
                  <div class="dividewhite3"></div>
                  <%= link_to 'Login With Spotify', '/auth/spotify', class: "btn btn-default btn-gr" %>
               </div>
            </div>
         </div>
      </div>

      <div>
         <div class="photocard-wrap animated fadeIn clearfix animation-action">
            <div class="photocard-image-wrap  column-half column-float-right">
               <div class="photocard-image-container"
                    style="background-image:url(<%= image_path 'index-red-flash.png' %>); background-color: #8e44ad;"></div>
            </div>
            <div class="photocard-content-wrap dark column-float-left column-half" data-stellar-background-ratio="0.5">
               <div class="photocard-contents-inner text-align-center wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset="10">
                  <div class="heading-block">
                     <h2 class="photocard-title font-accident-two-bold-italic ">
                        We the best
                     </h2>
                     <h3 class="photocard-subtitle font-regular-light">
                        Another one
                     </h3>
                  </div>
                  <div class="photocard-contents small">
                     Stay focused. The key to more success is to have a lot of pillows. You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. I’m up to something. They key is to have every key, the key to open every door. They key is to have every key, the key to open every door. We the best. Fan luv. Look at the sunset, life is amazing, life is beautiful, life is what you make it. The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t want you to smile.
                  </div>
                  <div class="dividewhite3"></div>
                  <%= link_to 'Login With Spotify', '/auth/spotify', class: "btn btn-default btn-gr" %>
               </div>
            </div>
         </div>
      </div>

   </section>
   <!-- /Photocard Block -->

</div>
