<% if @events.empty? %>
  <div class='col-xs-9 col-xs-offset-1'>
    <h1>Welcome, <%=current_user.name%>.</h1> <h4>Sit back while we analyze your Spotify listening history, and find all the upcoming concerts in your area from your favorite artists. Confirm or update your email address below so the goodies get dropped in the right place.</h4>

    <div class="col-md-3 col-xs-12">
      <%= form_for(current_user) do |f| %>
        <%= f.text_field :email %>
        <%= f.submit "Confirm Email", class: "btn" %>
      <% end %>
    </div>
  </div>  
<% else %>
  <%= @artists.size %> Artists. <%= @events.size %> Events.
  <table>
    <tr>
      <th>Event</th>
      <th>Time</th>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to(event[:title], event[:ticket_url], target: :blank) %></td>
        <td><%= event[:date] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
