<!DOCTYPE html>
<html>
  <head>
    <title>ConcertApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="device-bg">

    <!-- MESSAGES -->
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <strong><%= flash[:notice] %></strong>
      </div>
    <% end %>
    <!-- END MESSAGES -->

    <%= yield %>
  </body>
</html>
